@charset "UTF-8";


/******** Basic XHTML */

body {
	font: 12px 'ＭＳ Ｐゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',sans-serif;
	text-align: center;
	line-height: 1.7;
	background-color: #FFF;
	color: #676766;
	}

#RthCustomizeW {
	font-size: 12px;
	}

a{ 
	color: #00A7E3;
	text-decoration: none;
	}

a:hover{
	color: #00A7E3;
	text-decoration: underline;
	}

a:visited{
	color: #00A7E3;
	}

/*------------- alpha */
.alpha a:hover img {
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
}

	
/******** biz */

#biz,
#pr,
#rs{
	width: 950px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	}


#biz .more,
#pr .more,
#rs .more{
	margin: 0 20px 10px 0;
	padding: 0;
	text-align: right;
	}

#future{
	margin: 0;
	padding: 0;
	}

#biz #global{
	margin: 0 0 10px 0;
	padding: 6px 0 8px;
	text-align: center;
	background: url(https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/bg_nav.gif) repeat left top;
	}
#pr #global{
	margin: 0 0 10px 0;
	padding: 6px 0 8px;
	text-align: center;
	background: url(https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/pr/bg_nav.gif) repeat left top;
	}
#rs #global{
	margin: 0 0 10px 0;
	padding: 6px 0 8px;
	text-align: center;
	background: url(https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/rs/bg_nav.gif) repeat left top;
	}

#global li{
	margin: 0;
	padding: 0;
	display: inline;
	}


#biz .box,
#pr .box,
#rs .box{
	width: 920px;
	margin: 0 0 10px 0;
	padding: 15px;
	overflow: hidden;
	border: 1px #D6D6D6 solid;
	}

#pr #premium{
	background: url(https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/pr/bg_box_topics.gif) no-repeat;
}

#biz .box_in,
#pr .box_in,
#rs .box_in{
	width: 440px;
	height: 270px;
	margin: 0;
	padding: 0;
	border: 5px #EAE9E9 solid;
	}

#pr #news .box_in{
	background: url(https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/pr/bg_box.gif) no-repeat right bottom;
}

#biz h2{
	margin: 0 0 5px 0;
	padding: 10px 0 10px 38px;
	letter-spacing: 0.2em;
	background: url(https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/topics.png) no-repeat left top;
	font-size: 16px;
	color: #0E2848;
	font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
#pr h2{
	margin: 0 0 5px 0;
	padding: 10px 0 10px 38px;
	letter-spacing: 0.2em;
	background: url(https://lh3.googleusercontent.com/pw/AJFCJaVSiA2SfqFkJx_cpKAZkNfl1UWj7vFfmZG0jaMUIhza1AhKvL8ICCFiaWpfxuPOI8V1c23f3aCCpvICKCKzv0sisjOsqxi_wsX1q0gZbHMULrvVvUgF08NZKdlYsytqEeZp3ZV4iO_17uqS5xXq2PxJ=w920-h45-s-no?authuser=0) no-repeat left top;
	font-size: 16px;
	color: #fff;
	font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
#rs h2{
	margin: 0 0 5px 0;
	padding: 10px 0 13px 38px;
	letter-spacing: 0.2em;
	background: url(https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/rs/topics.png) no-repeat left top;
	font-size: 16px;
	color: #fff;
	font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}

#biz h3{
	margin: 5px 0 0;
	padding: 10px 10px 0 ;
	color: #00A7E3;
	font-size: 14px;
	font-weight: bold;
	}
#pr h3{
	margin: 5px 0 0;
	padding: 10px 10px 0 ;
	color: #3d3d3d;
	font-size: 14px;
	font-weight: bold;
	}
#rs h3{
	margin: 5px 0 0;
	padding: 10px 10px 0 ;
	color: #00a7e3;
	font-size: 14px;
	font-weight: bold;
	}

#biz h3.catch,
#pr h3.catch,
#rs h3.catch{
	padding-top: 50px;
	}


#biz .kind{
	margin: 0 0 3px 0;
	padding: 5px 0;
	letter-spacing: 0.2em;
	background: url(https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/bg_evaluation.gif) repeat left top;
	text-align: center;
	font-size: 14px;
	color: #0E2848;
	font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
#pr .kind{
	margin: 0 0 3px 0;
	padding: 5px 0;
	letter-spacing: 0.2em;
	background: url(https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/pr/bg_evaluation.gif) repeat left top;
	text-align: center;
	font-size: 14px;
	color: #000;
	font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
#rs .kind{
	margin: 0 0 3px 0;
	padding: 5px 0;
	letter-spacing: 0.2em;
	background: url(https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/rs/bg_evaluation.gif) repeat left top;
	text-align: center;
	font-size: 14px;
	color: #0E2848;
	font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}


#biz p,
#pr p,
#rs p{
	margin: 0 10px 25px;
	padding: 0;
	}




#news h2,
#voice h2{
	margin: 0 0 2px 0;
	padding: 0;
	background: none;
	}
#rs #news h2,
#rs #voice h2{
	margin: 0 0 2px -7px;
	padding: 0;
	background: none;
	}


#news{
	width: 450px;
	margin: 0;
	padding: 0;
	float: left;
	}

#rs #news .box_in {
	margin-top: -13px;
	}

#biz #news dt{
	margin: 0 5px;
	padding: 10px 5px 5px 5px;
	font-size: 14px;
	color: #00A7E3;
	font-weight: bold;
	}
#pr #news dt{
	margin: 0 5px;
	padding: 10px 5px 5px 5px;
	font-size: 14px;
	color: #3d3d3d;
	font-weight: bold;
	}
#rs #news dt{
	margin: 0 5px;
	padding: 10px 5px 5px 5px;
	font-size: 14px;
	color: #00a7e3;
	font-weight: bold;
	}

#news dd{
	margin: 0 5px;
	padding: 0 5px 10px 5px;
	vertical-align: top;
	border-bottom: 1px #EAE9E9 dotted;
	}

#voice{
	width: 450px;
	margin: 0;
	padding: 0;
	float: right;
	}

#rs #voice .box_in {
	margin-top: -13px;
	}

#biz #evaluation{
	width: 405px;
	margin: 5px auto 10px;
	padding: 10px 0px 10px 25px;
	background: url(https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/bg_evaluation.gif) repeat left top;
	}
#pr #evaluation{
	width: 405px;
	margin: 5px auto 10px;
	padding: 10px 0px 10px 25px;
	background: url(https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/pr/bg_evaluation.gif) repeat left top;
	}
#rs #evaluation{
	width: 405px;
	margin: 5px auto 10px;
	padding: 10px 0px 10px 25px;
	background: url(https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/rs/bg_evaluation.gif) repeat left top;
	}
	
#voice #evaluation p{
	margin: 0 15px 0 0;
	padding: 0;
	font-size: 16px;
	color: #0E2848;
	float: left;
	font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}

#evaluation p strong{
	font-weight: bold;
	color: #DC0D2F;
	}

#evaluation ul{
	letter-spacing: -0.4em;
	}

#evaluation li{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url("https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/star_full.gif") no-repeat;
	letter-spacing: normal;
	/display: inline;
	/zoom: 1;
	}

#evaluation .starUnit05 .star1{
	background: url("https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/star_half.gif") no-repeat;
	}
#evaluation .starUnit05 .star2, 
#evaluation .starUnit05 .star3, 
#evaluation .starUnit05 .star4, 
#evaluation .starUnit05 .star5{
	background: none;
	}

#evaluation .starUnit10 .star2, 
#evaluation .starUnit10 .star3, 
#evaluation .starUnit10 .star4, 
#evaluation .starUnit10 .star5{
	background: none;
	}

#evaluation .starUnit15 .star2{
	background: url("https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/star_half.gif") no-repeat;
	}
#evaluation .starUnit15 .star3, 
#evaluation .starUnit15 .star4, 
#evaluation .starUnit15 .star5{
	background: none;
	}

#evaluation .starUnit20 .star3, 
#evaluation .starUnit20 .star4, 
#evaluation .starUnit20 .star5{
	background: none;
	}

#evaluation .starUnit25 .star3{
	background: url("https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/star_half.gif") no-repeat;
	}
#evaluation .starUnit25 .star4, 
#evaluation .starUnit25 .star5{
	background: none;
	}

#evaluation .starUnit30 .star4, 
#evaluation .starUnit30 .star5{
	background: none;
	}

#evaluation .starUnit35 .star4{
	background: url("https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/star_half.gif") no-repeat;
	}
#evaluation .starUnit35 .star5{
	background: none;
	}

#evaluation .starUnit40 .star5{
	background: none;
	}

#evaluation .starUnit45 .star5{
	background: url("https://img.travel.rakuten.co.jp/share/kaigai_img/hotel/cp/img/star_half.gif") no-repeat;
	}

#voice p{
	margin: 0 0 5px 0;
	padding: 0;
	text-align: center;
	}

#voice dl{
	margin: 0 30px 5px;
	padding: 0;
	}

#biz #voice dt{
	margin: 0 0 2px 0;
	padding: 0;
	font-size: 14px;
	color: #00A7E3;
	font-weight: bold;
	}
#pr #voice dt{
	margin: 0 0 2px 0;
	padding: 0;
	font-size: 14px;
	color: #3d3d3d;
	font-weight: bold;
	}
#rs #voice dt{
	margin: 0 0 2px 0;
	padding: 0;
	font-size: 14px;
	color: #00a7e3;
	font-weight: bold;
	}

#voice .more{
	margin-right: 30px;
	}



#banner{
	margin: 0 0 10px;
	padding: 10px 0;
	text-align: center;
	background-color: #eae9e9;
	}

#banner li{
	margin: 0 0 10px;
	padding: 0;
	}


#biz ul.col_banner li,
#pr ul.col_banner li,
#rs ul.col_banner li{
	margin: 0 15px 0 0;
	padding: 0;
	float: left;
	}

#biz .pat1 p,
#pr .pat1 p,
#rs .pat1 p{
	width: 640px;
	margin: 0;
	padding: 13px 20px 0px;
	float: left;
	}

#biz .pat1 .more,
#pr .pat1 .more,
#rs .pat1 .more{
	padding-top: 13px;
	}

#biz .pat2,
#pr .pat2,
#rs .pat2{
	width: 940px;
	margin: 0 -20px 10px 0;
	padding: 0;
	}

#biz .pat2 .col,
#pr .pat2 .col,
#rs .pat2 .col{
	width: 450px;
	margin: 0 20px 0 0;
	padding: 0;
	float: left;
	}

#biz .pat3,
#pr .pat3,
#rs .pat3{
	width: 930px;
	margin: 0 -10px 10px 0;
	padding: 0;
	}

#biz .pat3 .col,
#pr .pat3 .col,
#rs .pat3 .col{
	width: 300px;
	margin: 0 10px 0 0;
	padding: 0;
	float: left;
	}

#biz .pat4,
#pr .pat4,
#rs .pat4{
	width: 933px;
	margin: 0 -13px 10px 0;
	padding: 0;
	}

#biz .pat4 .col,
#pr .pat4 .col,
#rs .pat4 .col{
	width: 220px;
	margin: 0 13px 0 0;
	padding: 0;
	float: left;
	}

#plan{
	margin: 30px 0px;
	padding: 0;
	text-align: center;
	}
